certifi==2017.7.27.1
chardet==3.0.4
Cython==0.27.1
dj-database-url==0.4.2
Django==1.11.29
django-extensions==1.9.1
django-filter==1.0.4
django-rest==0.0.1
django-smart-selects==1.5.2
djangorestframework==3.6.4
djangorestframework-gis==0.11.2
gunicorn==19.7.1
idna==2.6
Markdown==2.6.9
numpy==1.13.3
olefile==0.44
Pillow==4.2.1
psycopg2==2.7.3.1
pystan==2.17.0.0
pytz==2017.2
requests==2.18.4
six==1.11.0
urllib3==1.22
whitenoise==3.3.0
